<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yelp Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset='utf8'>
  <meta name="description" content="Yelp Project">
  <meta name="author" content="Leopold Kwok">
</head>
<body>



<!-- YELP -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">Yelp Clone</a>
      </div>
      <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form">

  <%=notice%>
  <% if user_signed_in? %>
    Logged in as <%=current_user.email %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-md btn-danger", role:"button" %>
    <%else%>
    <%= link_to "Sign in", new_user_session_path, class:"btn btn-md btn-success", role:"button"  %>
    <%= link_to "Sign up", new_user_registration_path,  class:"btn btn-md btn-warning",role:"button"  %>
  <%end%>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

<div class="jumbotron">
      <div class="container">
  <!--       <h1>Yelp-Clone</h1> -->
          <br><br><h1><a href='/'>Yelp Clone</a></h1>
          <h2>Write a Review</h2>

            <p>
        <%= link_to 'Add a restaurant', new_restaurant_path, class: "btn btn-primary btn-lg btn-block"  %>
      </p>



        <p>This project was created on the week 9 of <a href='http://www.makersacademy.com/' target='blank'>Makers Academy</a>. You can see the code on my <a href="https://github.com/leopoldkwok/yelp_aug_v2">Github</a></p> 
      </div>
    </div>


  <%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
